<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TB</title>
    
    <link href="styles/main1.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="styles/fontawesome-free-6.0.0-web/css/all.min.css">
    
</head>
<body>
    <section class="sub3-header">
        <nav>
            <a href=""><i class="fa-solid fa-book"></i> Bookshop</a>
        </nav> 
        <div class="sign_up-1">
            <i class="fa-solid fa-user-plus fix"></i>
            <h1>Đăng kí</h1>
            <form action="dangki" method="post">
               
                <span style="color:red" th:text=${mess}></span><br>
                <input type="text" class="input_box-1" placeholder="Họ tên" name="hoten" required>
                <input type="text" class="input_box-1" placeholder="Tên đăng nhập" name="tendn" required>
                <input type="text" class="input_box-1" placeholder="Email" name="email" required>
                <input type="text" class="input_box-1" placeholder="Số điện thoại" name="sdt" required>
                <input type="password" class="input_box-1" placeholder="Mật khẩu" name="matkhau" required>
                <input type="password" class="input_box-1" placeholder="Nhập lại mật khẩu" name="nlmk" required>
                <p><span><input type="checkbox"></span> Tôi đồng ý với các điều khoản</p>
                <label>&nbsp;</label>
                <input type = "submit" value = "Đăng kí" id = "submit" class="sign-btn"><br>
                <a href="/dangnhap" class="sign_up-1-a">Tôi đã có tài khoản</a>
            </form>
        </div>
        <h1 class="ll"></h1>
         
    </section>
</body>
</html>

